{% extends "base.html" %} {% block body %}
<h2 class="font-semibold text-2xl">Rules</h2>
<ul class="list-decimal list-inside">
  <li>It's prohibited to destroy constructions; improve them instead.</li>
  <li>Don't steal items from other players; be kind and ask first.</li>
  <li>
    You can use existing characters, but don't bring items from another server.
    Think of it as starting fresh in a new world.
  </li>
  <li>
    If someone asks for help to defeat a creature, the dropped items belong to
    the player who asked for help, even if they did the least part.
  </li>
</ul>

<form
  action="#"
  class="border bg-gray-50 p-5 space-y-2.5 rounded-md lg:w-2/4"
  method="post"
>
  <p class="bg-yellow-100 p-2 border border-yellow-400">
    If you would like to join us on Valheim, submit the following form.
  </p>

  <div>
    <label class="space-y-0.5">
      <div>
        Your steamID, steamID3, steamID64, customURL or complete URL
        <span class="text-sm"
          >(<a
            href="https://help.steampowered.com/en/faqs/view/2816-BE67-5B69-0FEC"
            class="text-indigo-600 underline hover:no-underline"
            target="_blank"
            rel="noopener"
            >?</a
          >)</span
        >
      </div>
      <input name="steamid" class="border border-gray-400 p-2 rounded w-full" />
    </label>
  </div>

  <button class="py-2 px-4 text-white bg-indigo-600 rounded">Submit</button>
</form>

<div class="space-y-2.5">
  <h3 class="font-semibold text-2xl">Check out what our community is up to!</h2>
  <iframe
    class="w-full aspect-video"
    src="https://www.youtube.com/embed/2RQA8WurZlI?si=f8_YGAiRr0ZrYyMM&amp;controls=0"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>

{% endblock %}
